[2017-05-09 12:59] roelvanhintum opened #1 "Waiting on verify screen until session expires causes incorrect behavior."
Also complaints about csrf tokens can cause a broken flow.

[2017-05-09 13:39] roelvanhintum commented on #1
- CSRF token can prevent verifying without an alternative.
- When a login popup is shown, logging in has no effect and verifying is still blocked.

[2017-05-09 14:14] roelvanhintum commented on #1
It turns out that the getAuthTimeout call was blocked, preventing the login flow inside the popup.

[2017-05-09 14:14] #1 closed

[2017-10-24 16:35] espensgr opened #2 "Front end form"
is it possible to use this for front end login forms?

[2017-10-25 06:20] roelvanhintum commented on #2
Yes, the main logic is in services, which you could call from your own plugin. Users who have 2FA turned on will be redirected to the verification screen. For front-end users you would have to build templates which allow the user to turn on the 2FA.

[2017-10-25 06:46] roelvanhintum commented on #2
@espensgr I've just added some screens to the readme give an impression of the admin interface. I imagine you need something similar on the front-end.

[2017-10-25 08:09] espensgr commented on #2
nice! yeah i was hoping for some code documentations on what tags i can use in my templates so i can setup this on the front end, and the logic around it. Are that something you are planing to do?

[2017-10-25 08:37] roelvanhintum commented on #2
Not right now, but you can take a look in the controllers and templates. I've kept the logic to a minimum, which would make it easy to copy for front-end usage.

Please be careful with logging in and the front-end. The plugin only protects the CP pages, so you need to write your own checks for handling that on the front-end.
see: https://github.com/born05/craft-twofactorauthentication/blob/master/

[2017-11-03 18:33] brybeecher opened #3 "rememberedUserSessionDuration of false causes crash"
The craftCms config value of [`rememberedUserSessionDuration`](https://craftcms.com/docs/config-settings#rememberedUserSessionDuration) being set to `false` instead of a time (eg. `'P1D'`) causes the following php error.

`Exception: DateInterval::__construct(): Unknown or bad format () in /var/www/craft/plugins/twofactorauthentication/services/TwoFactorAuthentication_VerifyService.php:41`
(see [s

[2017-11-06 07:25] roelvanhintum commented on #3
@brybeecher thanks, i'll look into this.

[2017-11-06 13:56] roelvanhintum commented on #3
fixed in 8571b5e8117760ceea606938c40c95215ecfd354

[2017-11-06 13:56] #3 closed

[2017-11-07 09:41] #2 closed

[2017-11-10 20:26] espensgr opened #4 "Wrong download url?"
is the downloadurl in release.json wrong?
[code]
i got the assetusage plugin when i tried to update

[2017-11-10 20:55] roelvanhintum commented on #4
Thanks! Fixed it right away.
1110b5d4b5d11b3abc44f86385a703d58c6a66e0

[2017-11-10 20:56] #4 closed

[2017-11-10 20:57] roelvanhintum opened #5 "Support PHP 7.0"
PHP 7.1 hasn't got as much support as 7.0

[2018-01-31 07:57] roelvanhintum commented on #5
Fixed in #40a7e5d942f332f7c51b5c8ca5468ddbc743f071

[2018-01-31 07:57] #5 closed

[2018-03-09 11:20] espensgr opened #7 "Craft 3"
Hey,

Any ETA for plugin store?

[2018-03-09 11:34] roelvanhintum commented on #7
@espensgr We are working on Craft 3 support, but since we are not yet running projects on Craft 3 there is not a lot of time i get to spend on this. I'm hoping to get the plugin done in april. We will submit it same day we get the release done i'll submit it to the store.

[2018-03-09 11:53] espensgr commented on #7
@roelvanhintum Good to know :thumbsup:

[2018-05-08 08:32] DiederikVanHoorebeke commented on #7
+1 :-)

[2018-06-07 22:28] PRASS95 commented on #7
+1

[2018-06-21 10:37] martyspain opened #8 "Use for non-CP pages?"
It looks like this plugin only works for CP access - is that correct? Is it possible to define your own templates for setting up the 2FA? I'd love to be able to use this for our users that login to a subscription-only portion of our Craft site, rather than just admins/CP users.

[2018-06-21 11:27] roelvanhintum commented on #8
Yes, that is correct, CP only. #2 Discusses this same problem.

You could use your own templates and extend the controllers. You'll have to override the TwoFactorAuthenticationPlugin::init function with your own logic for handling front-end requests.

Front-end support will be added to the Craft 3 roadmap.

[2018-06-28 14:33] RichardFrontwise commented on #7
@roelvanhintum Thanks for the great work so far. Any idea if the launch of v3 is imminent? Otherwise we'll develop our own solution.

[2018-06-29 07:50] roelvanhintum commented on #7
I'm working on it. I'm hoping to get things working today. Sorry, for the insane delay.

[2018-06-29 12:07] roelvanhintum commented on #7
Check 2.0.0-beta. It should be fully functional, i just didn't test it in a production environment yet! Please, let me know if you have any problems!

[2018-06-29 14:56] DiederikVanHoorebeke commented on #7
Will do! Thank you!

[2018-07-02 10:00] RichardFrontwise commented on #7
Thanks for the beta!
However the plugin doesn't enforce the use of the 2FA code for admin pages.

Steps to reproduce:
1. Setup 2FA for your account
2. Login with normal credentials
3. Instead of entering 2FA code, go directly to http://yoursite/admin/dashboard
4. You're fully logged in, despite not entering the 2FA code

Please correct me if I missed something

[2018-07-02 11:08] roelvanhintum commented on #7
@RichardFrontwise Just tried to reproduce the issue, but i got logged out as supposed to. Can you give me some specifics about your settings? Do you have a different admin path or domain?

[2018-07-02 12:24] RichardFrontwise commented on #7
Did a clean craft install and the plugin works as expected!
Discovered that the custom defaultCookieDomain in general.php causes the malfunction.

[2018-07-02 12:36] roelvanhintum commented on #7
Thanks! Sounds like that should not influence the plugin.
I will run some tests on changing the config:
- defaultCookieDomain
- baseCpUrl
- cpTrigger

[2018-07-02 12:57] RichardFrontwise commented on #7
Digging deeper: defaultCookieDomain results in a redirect loop.
The login problem I described earlier is because another plugin has the checkPermission function in its init():
[code]

[2018-07-02 13:12] roelvanhintum commented on #7
Ok, i'll look into hooking into this on a lower level. Right now it passes through authentication and logs out when the 2FA is not verified.

[2018-07-04 06:34] jhubb-io opened #9 "Can't log in after activating 2FA"
Hey. I can't log in after activating 2FA. The process to activate works correctly then I log out. After logging in, I'm redirected to the 2FA input but clicking verify shows the progress indicator for about 200ms then nothing happens.

I've attached the logs.
[web-404s.log](https://github.com/born05/craft-twofactorauthentication/files/2162068/web-404s.log)
[web.log](https://github.com/born05/craft

[2018-07-04 06:55] roelvanhintum commented on #7
@RichardFrontwise in beta 2 the redirect loop should be fixed. I couldn't move the rest of the logic to a lower level due to some limitations in Craft's routing structure.

[2018-07-04 07:19] roelvanhintum commented on #9
@jhubb-io did the verify/login-process request give any feedback? It should show a message.

[2018-07-04 13:19] RichardFrontwise commented on #7
Awesome, thanks!
Discovered another issue: if you enable the debug toolbar in the Control panel, the post call of the 2FA returns a 403 Unauthorized.

[2018-07-04 15:02] RichardFrontwise commented on #9
Probably because you've enabled the debug toolbar for the Control Panel, experienced the same issue.

[2018-07-04 20:30] jlamb1 commented on #9
Same thing for me - Activation worked correctly, I signed out, signing back in shows the 2fa prompt. Entering the code produces a 403 error in the console and nothing happens. I also had the debug toolbar enabled for the control panel. I can't get into my account

[2018-07-05 05:52] roelvanhintum commented on #9
I’ll try and push a fix for this, this morning. I’m guessing it’s something stupid i overlooked.

@jlamb1 You can go into the database and remove the records from the twofactorauthentication_verify table. This will disable 2FA for those users.

[2018-07-05 08:25] RichardFrontwise opened #10 "Add Dutch translation"
I created this translation file (in /translations/nl/app.php)
Posted here as a help for Dutch translation in the plugin itself.

[code]

[2018-07-05 09:15] roelvanhintum commented on #9
Fixed in 2.0.0-beta.3

The debug bar triggered an extra request, which caused a logout.

[2018-07-05 09:15] #9 closed

[2018-07-05 09:16] roelvanhintum commented on #9
see: dfce3375ed14699159885da815ea811062918014

[2018-07-05 09:18] roelvanhintum commented on #7
Debug toolbar issue is discussed in #9

[2018-07-05 15:09] jhubb-io commented on #9
Excellent, thanks.

[2018-07-06 12:08] jhubb-io opened #11 "Doesn't work on time out dialogue"
When the time out dialogue appears asking to reenter your password there is no way to enter the 2FA code again so although the password is correct and the dialogue disappears to show the CP again, the user is not actually logged in. A click to another page then redirects to the log in page.

[2018-07-06 12:28] roelvanhintum commented on #11
Good point. It would be nice if it would show this after the login, or allow the user to continue.

Maybe add an extra config setting to let 2FA stay alive longer than the login itself. For example, login each day, 2FA once a week. Any thoughts on this?

[2018-07-10 15:44] RichardFrontwise commented on #10
Should work pretty straightforward, see for example https://github.com/Dolphiq/craft3-plugin-redirect/tree/master/src

[2018-07-10 20:45] roelvanhintum commented on #10
Thanks, i’ll fix it in the morning.

[2018-07-11 06:33] #10 closed

[2018-07-22 17:02] olets commented on #11
Something like that makes sense to me, and is familiar from other 2FA systems. Every week seems like a lot. I'm not finding documentation for Github or Google, but my guess is they prompt once a month?

[2018-07-23 09:33] roelvanhintum commented on #11
@olets Both Github and Google ask you every time you login, but they allow you to stay logged in for a really long time. I hope to get things working with the dialog, but i'm afraid it will be a redirect to the verification page.

When another call is done after login, but before verification, the plugin logs the user out. When craft allows hooking further into the core this isn't needed anymore.

[2018-07-23 12:06] roelvanhintum commented on #11
Did some research, but Craft's AuthManager.js (which triggers the modal) doesn't throw any events when showing or hiding the modal. For now it's not possible to hook into this logic. Hopefully Craft will allow something like this in the future.

[2018-08-07 14:33] lukebailey opened #12 "Enforce usage for users"
Would it be possible for admins to enforce two factor authentication on users?

[2018-08-08 07:01] roelvanhintum commented on #12
@lukebailey Not yet. For now you could do this manually by not granting rights other than cp util the user has activated 2FA. But this would be a good feature. So, this is going on the todo list.

[2018-08-08 09:11] RichardFrontwise commented on #12
I enforce it by redirecting users to the 2FA setup page if they're not verified, with the following module:
[code]

[2018-08-08 09:40] roelvanhintum commented on #12
@RichardFrontwise that is similar to what i had in mind. Probably would render a separate page without the rest of the ui, to clean it up. Hopefully i can write it this week.

[2018-08-08 23:35] xdemoor opened #13 "Couldn't install plugin"
`

Application | Version
-- | --
PHP version | 7.2.8
Database driver & version | MySQL 5.5.5
Image driver & version | GD 7.2.8
Craft edition & version | Craft Pro 3.0.19
Yii version | 2.0.15.1
Twig version | 2.5.0
Guzzle version | 6.3.3
Imagine version | 0.7-dev

Plugin | Version
-- | --
Empty Coalesce | 1.0.0
Entry Instructions | 1.0.0
Expanded Singles | 1.0.4
Olivemenus | 1.0.0
Redactor | 2.1.5

[2018-08-09 21:28] LukePeters commented on #13
I'm encountering the same issue. Here's a screenshot - I press "Install" and this error pops up: https://img.lukepeters.me/080920180u9uo.png I don't see anything in the error logs. PHP version 7.1.16. Craft CMS version 3.0.19 (fully up-to-date).

[2018-08-09 21:57] brandonkelly commented on #13
I’m seeing this in the logs:

[code]

Offending line:

https://github.com/born05/craft-twofactorauthentication/blob/99c3bf73d422e5d2d56db7a0c631901f9e7bc53d/src/migrations/Install.php#L14

Looks like you just need to drop the `_`.

[2018-08-09 22:08] brandonkelly commented on #13
@xdemoor @LukePeters Until @roelvanhintum officially fixes this, you can get my fix by adding this to your `composer.json` file:

[code]

And then run this command in your terminal:

[code]

[2018-08-10 06:01] #13 closed

[2018-09-18 12:06] roelvanhintum commented on #8
I'm hoping to get this built somewhere this week. It should involve minimal configuration to get everything up and running from a plugin users perspective. Something like a php file which holds configs.

[2018-10-05 06:39] roelvanhintum commented on #12
I've added support for forcing 2fa for front end or CP users. Please let me know if you have any feedback!

[2018-10-05 06:47] roelvanhintum commented on #8
@martyspain We now support front end out of the box. It does need some config and templates (see readme). Please let me know if something is missing.

[2018-10-05 08:16] lukebailey commented on #12
Thanks for the update, seeing an unknown error when non admins try to enable 2FA. Also should there be anywhere in the CP where an admin can enforce 2FA per user or is this a global config setting?

[2018-10-05 08:35] roelvanhintum commented on #12
@lukebailey Thanks, i'll check the non-admin thing.
Remember, simply remove the user's `twofactorauthentication_user` record for disabling 2fa when you are locked out. You don't have to completely restore a db for this.

Forcing is a global setting for CP and front end seprated (forceFrontEnd and forceBackEnd).

[2018-10-05 08:50] lukebailey commented on #12
Ah good shout

[2018-10-05 09:06] roelvanhintum commented on #12
@lukebailey 2.0.0-beta.10 Should fix the locking out issue.

[2018-10-09 13:19] RichardFrontwise opened #17 "FR: reset authenticator from CMS"
As @lukebaily indicated, it would be helpful if user admins can reset the Authenticator from the CMS.
Currently we have to do this manually via the database, which is not practical for our site with 100+ users.

[2018-10-09 14:42] dennisadriaans opened #18 "Please provide examples on how to eneable frontend 2FA"
Hi, i would like to see some examples on how to enable 2FA for the frontend.

Especially for the frontEndPathWhitelist and/or blacklist settings.

You provide already two example templates for settings and verify. Which of them is the " 2FA form" you refer to in step 1.

[2018-10-10 06:19] roelvanhintum commented on #17
I'll look into it. Should be possible.

[2018-10-10 07:11] roelvanhintum commented on #18
@dennisadriaans Just enhanced the docs and examples to make things easier.

[2018-10-11 10:43] dennisadriaans commented on #18
Works like a charm!

[2018-10-11 10:44] #18 closed

[2018-10-12 09:16] dennisadriaans opened #20 "No option to blacklist the homepage from 2FA"
When you want to disallow access to the homepage e.g: domain.com/ without path,
users will get redirected to the verification page but can manually go back to the homepage without verification.

[2018-10-12 09:51] roelvanhintum commented on #20
Does blacklisting an empty path work?

[code]

[2018-10-12 09:56] dennisadriaans commented on #20
No, did try three options.

    // Blacklist paths that do need 2FA.
    'frontEndPathBlacklist' => [
        '*' => ['/', ' ', ''],
    ],

[2018-10-12 10:02] roelvanhintum commented on #20
What does pathInfo return if you dump it? We match the value of `Craft::$app->getRequest()->getPathInfo();` to the array values of frontEndPathBlacklist.

https://github.com/born05/craft-twofactorauthentication/blob/master/src/services/Request.php#L143

[2018-10-12 10:08] dennisadriaans commented on #20
string(0) "".

[2018-10-12 10:13] dennisadriaans commented on #20
Maybe it is the CraftSpecialRequest path.

https://github.com/born05/craft-twofactorauthentication/blob/master/src/services/Request.php#L164

[2018-10-12 12:57] roelvanhintum commented on #20
Should work from 2.0.0-beta.12

[2018-10-12 13:57] dennisadriaans commented on #20
Confirmed

[2018-11-07 08:54] dennisadriaans commented on #20
Seems to be back.

Case: Login as user in the front-end when FA activated. Don't enter an authentication code from your phone. Instead type the homepage url in the address bar.

The browser will redirect the user without the need to enter an authentication code.

[2018-11-07 09:29] roelvanhintum commented on #20
@dennisadriaans I'm getting logged out as supposed to, when login is required on home.

When login is not required on home, i'm allowed to visit, because 2FA only checks when login is required. Visit a page that does require login and the plugin logs you out because verification is missing.

[2018-11-08 10:39] dennisadriaans commented on #20
Tested it several times, unfortunately, both the frontend and the backend login can be skipped by manually changing the URL after initial login.

[2018-11-08 10:52] dennisadriaans commented on #20
It was conflcting with a custom Craft module.

[2018-11-08 10:52] #20 closed

[2018-11-08 10:58] roelvanhintum commented on #20
@dennisadriaans allowFrontend was incorrectly in the readme, this should be verifyFrontEnd.
Make sure verifyFrontEnd is set to true. allowFrontend is not a thing.

[2018-11-08 10:59] roelvanhintum commented on #20
@dennisadriaans to match home the following should be enough as a blacklist:

[code]

[2019-01-04 15:33] matt-adigital opened #22 "Stable Release Date"
Not really an issue, more of a question, but any ideas of when a stable release might happen for the Craft 3 version?

We want to use this for a client of ours but aren't too keen on using software which is still in beta as we'd like to avoid as many bugs as possible. Looks like a great plugin though, good work!

[2019-01-04 19:15] roelvanhintum commented on #22
@matt-adigital Thanks! We're doing some in depth security tests in the coming week. Once those clear, i'll release it as stable. Shouldn't take more than two weeks.

[2019-01-07 10:16] drifteaur opened #23 "Session duration"
The plugin will fail if _userSessionDuration_ is set to 0 or false in the general.php config. I'm getting:

Exception: DateInterval::__construct(): Unknown or bad format (PT-1S) in /Users/drifter/www/tasz/vendor/born05/craft-twofactorauthentication/src/services/Verify.php:52

If I set userSessionDuration to a positive number, it works.

[2019-01-15 15:18] roelvanhintum commented on #22
@matt-adigital Just released 2.0.0

[2019-01-15 15:18] #22 closed

[2019-01-16 09:05] romainpoirier opened #24 "Call to undefined method craft\elements\User::authData() since Craft 3.1"
I've just updated to Craft 3.1, and got this errors:
- Can't pass the Two-Factor Authentifcation on CP ;
- On front-end: Call to undefined method craft\elements\User::authData() ;

After reading the 3.1 changelog, I can see:
- Removed `craft\elements\User::authData()`

Please can you fix this? Thank you!

[2019-01-18 07:55] roelvanhintum commented on #24
@romainpoirier @EternalBlack Please use 2.1.0-beta.1 which should support Craft 3.1

[2019-01-21 09:51] romainpoirier commented on #24
Thank you! For the moment, everything works like a charm.

[2019-01-31 08:17] dennisadriaans opened #26 "Error when activating plugin"
Steps:

1. Composer require "born05/craft-twofactorauthentication" (installs version 2.0)
2. Activate via control panel
3. Website breaks and shows error:

Call to undefined method craft\elements\User::authData()
in /var/www/localxxxxx.nl/vendor/born05/craft-twofactorauthentication/src/services/Verify.php

[2019-01-31 08:19] dennisadriaans commented on #26
duplicate https://github.com/born05/craft-twofactorauthentication/issues/24

[2019-01-31 08:19] #26 closed

[2019-02-09 21:43] Moorst opened #27 "Craft 3.1.0 update"
Is this scheduled to support the >= 3.1 updates anytime soon?

[2019-02-11 07:04] roelvanhintum commented on #27
We already support Craft 3.1 from 2.1.0-beta.1 and up. I'm hoping to release it as stable somewhere this week, but i expect no further changes to the code.

[2019-02-13 13:21] #27 closed

[2019-02-20 22:09] engram-design opened #28 "Does this plugin support triggering `\yii\web\User::EVENT_AFTER_LOGIN`?"
Related to https://github.com/verbb/default-dashboard/issues/4, it seems this plugin may not be triggering the built-in Yii event `\yii\web\User::EVENT_AFTER_LOGIN` after a successful login. This means that a lot of functions that rely on this may not be triggered when using this plugin.

More of a priority, but things like Commerce (https://github.com/craftcms/commerce/blob/develop/src/Plugin.php

[2019-02-21 07:43] roelvanhintum commented on #28
@engram-design thanks, i'm looking into this right now. The plugin actually uses the event EVENT_AFTER_LOGIN and depending on the user's session it redirects to another page. So maybe this is blocking other plugins. I can solve this by firing the event again after we're done.

[2019-02-21 22:06] engram-design commented on #28
Seems to be all fixed now, nice work!

[2019-02-21 22:06] #28 closed

[2019-02-28 12:08] rinusvandam opened #29 "Integrity constraint violation"
I have a website running two-factor authentication.

When I click the disable 2FA in the back-end for a user I get the following error:

`SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`passwordprotectedwebsite`.`twofactorauthentication_session`, CONSTRAINT `twofactorauthentication_session_sessionId_fk` FOREIGN KEY (`sessionI

[2019-02-28 13:12] roelvanhintum commented on #29
Fixed in 2.1.1

[2019-02-28 13:12] #29 closed

[2019-02-28 13:21] rinusvandam commented on #29
Wow that's fast. Thanks!

[2019-03-27 03:17] tonymilne opened #31 "Craft 3.1 support"
Liking what you're doing with this plugin - keep up the great work!
I'd be keen to see the 3.1 branch get over the line and merged + released.

In the mean time i am directly installing from the latest commit in your craft-3.1 branch; if anyone else with this issue wants to do the same, here's what i added to my composer.json file:

[code]
and
[code]

[2019-03-27 03:19] #31 closed

[2019-03-27 06:13] tonymilne opened #32 "CloudFront + force enable 2FA page (login redirect loop)"
Unsure why, but when our website is behind AWS CloudFront it causes a redirect loop back to the /admin/login page rather than going to the force enable 2FA page when we have `forceBackEnd=true`.

When we test locally or direct to the ElasticBeanstalk instance, it all works.

Do you have any insight or advice on what might be causing this or how we might approach debugging it?

[2019-03-27 08:55] roelvanhintum commented on #31
@tonymilne guess you found it, but 2.1.x has Craft 3.1 support (indeed it does come from the 3.1 branch.

[2019-03-27 09:09] roelvanhintum commented on #32
Hi @tonymilne unfortunately i don't have any experience with CloudFront. I know it's a CDN. Does it cache responses or interfere with sessions?

Can you disable `forceBackEnd` and login with 2FA enabled for your user? I want to know for sure it's the extra screen that causes the CloudFront redirect loop.

[2019-03-27 23:46] tonymilne commented on #32
Yeah, we created an environment variable to control the `forceBackEnd` config and have turned it off until we can work out why it's causing us an issue.

[2019-03-28 03:23] tonymilne commented on #32
I also wonder if it has anything to do with the index.php?p= approach, where as our other urls are not using that url/querystring approach.

[2019-03-28 07:39] roelvanhintum commented on #32
@tonymilne can you login using 2FA when `forceBackEnd` is off? Or do you use the login without 2FA?

The urls the plugin uses should be generated. For our own projects we have `omitScriptNameInUrls` set for prettier urls, i'm guessing this is similar to your setup.

The logic you referred to does trigger the logout, but that is intended to prevent users to pass without 2FA (without that piece of l

[2019-04-05 10:07] EternalBlack opened #33 "Settings page for "delayed auth""
This is meant as an enhancement suggestion:
I often find my self trying to log-in with a "just in that moment"-expired 2FA code. Using a password manager that automatically copies the 2FA code to my clipboard and me just pasting it in, without knowing how much time there is left.

As far as I can tell some other services already do something like that where they allow a recently expired key to sti

[2019-04-05 11:09] roelvanhintum commented on #33
@EternalBlack the point of time-based two-factor authentication is that the codes are quickly invalidated. So, i don't think this change would be a good thing.
This would also block those same tools which happen to be really quick, because the start and end get a 5 second offset.

[2019-04-05 11:11] roelvanhintum commented on #32
@tonymilne do you still run into this?

[2019-04-05 14:03] EternalBlack commented on #33
I do know that in terms of security this is anything but wise to do and I'm not pressing that this should be `on` by default. Quoting Wikipedia might be questionable but I'll still do it:

[Source](https://en.wikipedia.org/wiki/Time-based_One-time_Password_algorithm) _as of 05.04.19_

I currently use
[code]
myself and it works fine for me. I can still access the resource with n OTP that is already

[2019-04-08 06:46] roelvanhintum commented on #33
I guess, making it configurable wouldn't be an issue. I'll look into this today.

[2019-04-08 08:04] roelvanhintum commented on #33
@EternalBlack version 2.1.2 has the totpDelay option.

[2019-04-08 09:48] EternalBlack commented on #33
@roelvanhintum Awesome! Thank you!

[2019-04-08 09:48] #33 closed

[2019-07-03 22:19] iapparatus commented on #12
@roelvanhintum

Not sure if I understand where an admin can force 2fa for users. Is it really a feature?

[2019-07-16 01:31] kgrote opened #34 "Config Options Explanation"
Thanks for this plugin! Could you explain what these config options do?

'verifyFrontEnd'
'forceFrontEnd'
 'forceBackEnd'

[2019-07-16 22:53] kgrote opened #35 "Feature Request: Disable Config Option"
It would be nice to have a config option that lets me disable the 2FA login step. This would be useful when working in development environments so I don't have to manually disable the plugin every time I sync a database from production.

[2019-07-23 08:52] roelvanhintum commented on #34
@kgrote, sorry for the late response. That does need some documentation. `verifyFrontEnd` allows verification when logging in front-end (non cp) users. see: https://github.com/born05/craft-twofactorauthentication#setting-up-front-end-2fa

`forceFrontEnd` and `forceBackEnd` force users to setup 2FA for their account.

[2019-07-23 08:54] roelvanhintum commented on #35
That would be a good feature. Maybe something similar to `verifyFrontEnd`. What about `verifyBackEnd` and let it default to true?

[2019-07-23 16:43] #34 closed

[2019-07-23 16:44] kgrote commented on #35
Sounds good to me!

[2019-07-31 09:39] roelvanhintum commented on #32
Fixed in 2.2.0

[2019-07-31 09:39] #32 closed

[2019-07-31 09:39] roelvanhintum commented on #35
@kgrote added in 2.2.0

[2019-08-22 12:50] RichardJong opened #36 "Usergroups empty after disabling 2FA"
As an admin, when I disable 2FA for a user, the page reloads.
When a user belongs to a user group, this group is now unchecked. So if I save the current user, it is removed from that user group.

However when I reload the page, the user is correctly in the user group (and is correctly saved).

Maybe a bug within Craft?

*ps: thanks again for this great plugin

[2019-08-22 13:57] roelvanhintum commented on #36
@RichardFrontwise thanks!

I'm guessing this is a Craft bug, since we don't change the user. We keep the 2FA data in out own separate tables. Disabling doesn't even redirect, but fires an action and let Craft resolve the url.

I'm seeing the same bug in Craft CMS 3.2.10

[2019-08-23 08:04] romainpoirier opened #37 "DateInterval::__construct(): Unknown or bad format if userSessionDuration set to 0"
Using this setting value in my `config/general.php` file:
`'userSessionDuration' => 0, // users will stay logged in as long as its browser is open`
[https://docs.craftcms.com/v3/config/config-settings.html#usersessionduration](https://docs.craftcms.com/v3/config/config-settings.html#usersessionduration)

I get this error:
`Exception DateInterval::__construct(): Unknown or bad format (PT-1S)`

`bor

[2019-08-23 08:08] roelvanhintum commented on #37
@romainpoirier That is one of the requirements: "userSessionDuration in the general.php config should be larger than 0"
As discussed in #23

[2019-08-23 08:09] #37 closed

[2019-08-23 21:44] kgrote commented on #35
This isn't working for me. My local environment still asks for verification after logging in to the control panel. Here's my config file:

[code]

[2019-08-24 20:48] iapparatus opened #38 "Bypassing 2FA in front-end"
I'm probably missing something but it seems like I'm able to get around 'Verify Code' screen after logging in simply by returning to the url that initiated the login.

Example:
This URL requires login: /protected
After entering credentials I'm redirected to /protected/verify
Returning to /protected lets me see the page

My config file:

[code]

Craft CMS 3.1.34.3
Two-Factor Authentication Plug-In:

[2019-08-28 08:54] roelvanhintum commented on #38
@iapparatus sorry for the delay. I'm looking into this today.

[2019-08-28 12:24] roelvanhintum commented on #38
@iapparatus the slash prefixing the path is causing it not to match. Can you try the following?

[code]

Same goes for `verifyPath` and `settingsPath`.

[2019-10-20 22:05] iapparatus commented on #38
Thanks, that solved the issue.

[2019-10-20 22:05] #38 closed

[2020-01-06 21:57] kgrote commented on #35
Just wanted to bump this and say this config option still isn't working.

[2020-01-07 07:30] roelvanhintum commented on #35
@kgrote sorry, completely missed this. I'll look into this today.

[2020-01-07 07:55] roelvanhintum commented on #35
@kgrote just did some tests, config works but `userLoginEventHandler` is ignoring it. Will be fixed in the next release.

[2020-01-07 08:40] roelvanhintum commented on #35
Fixed in 2.4.0. @kgrote can you verify this?

[2020-01-09 19:05] kgrote commented on #35
It works, thanks!

[2020-01-09 19:05] #35 closed

[2020-02-17 13:25] Tam opened #40 "Can't login as user with 2FA enabled"
When attempting to login as a user from the CP the following error is thrown

[code]

from the action `admin/actions/two-factor-authentication/settings/force`.

Versions:
- Craft Pro 3.4.5
- Two-Factor Authentication 2.4.0

[2020-02-17 14:13] roelvanhintum commented on #40
Hi @Tam, are you sure the user has the correct rights? "Access the control panel" should be checked.
If not, can you provide me the the plugin config file you used?

[2020-02-18 09:28] alexjcollins commented on #40
@roelvanhintum Thanks for the quick reply. What we're trying is to log in as a user **without control panel access**, and this used to work until, I think, [this update](https://github.com/born05/craft-twofactorauthentication/commit/c61ba5aaf94a69a3a15644692c26319651fd9705)).

The old behaviour user to send us on to the front end, now it throws that error.

Does that help?

[2020-02-18 09:44] roelvanhintum commented on #40
@alexjcollins i'm not sure what happens, but the fact that the user is redirected to the `force` page means that the following line is reached [Request.php#L96](https://github.com/born05/craft-twofactorauthentication/blob/craft-3.1/src/services/Request.php#L96)

I could check both request type and user type to make sure non-cp users are redirected to the frontend. Out of curiosity: Do you use the

[2020-02-18 09:47] alexjcollins commented on #40
@roelvanhintum Yeah, it's weird! And, as I said, it used to work fine 🤷‍♂️

No, we have a separate login for users on the frontend. The 'Login as User' feature is only used by super admins to help users out when they have an issue with their account.

[2020-02-18 10:32] roelvanhintum commented on #40
@alexjcollins can you test the `feature/non-cp-login-redirect` branch? This should fix your problem.

[2020-02-18 10:58] alexjcollins commented on #40
@roelvanhintum Yes! that has resolved it. Thanks so much for sorting so quickly 🎉

[2020-03-02 16:58] zsackett-dixonschwabl opened #41 "Question regarding security"
We're trying to evaluate 2fa options for Craft and had questions regarding this plugin's exact functionality. It's using EVENT_AFTER_LOGIN to create the redirect, but would it prevent the execution of controller actions, for example?

I see in issue #22 there's a reference to "in depth security tests", but haven't seen exactly what that entails. Thanks.

[2020-03-03 08:21] roelvanhintum commented on #41
For every request the 2Fa plugin verifies the user from the plugin init, so this would prevent controllers from executing code. This is next to the EVENT_AFTER_LOGIN event.

For multiple clients we had pentests done and still do for every project. Unfortunately i can't share any details.

[2020-03-03 08:21] #41 closed

[2020-03-03 15:44] zsackett-dixonschwabl commented on #41
Thanks for the reply!

[2020-03-06 12:20] maartenheideman opened #42 "rememberedUserSessionDuration ignored?"
Hi,

I'll setup this plugin for a client and it works great, except that it looks like the plugin ignores 'rememberedUserSessionDuration'. This is set to 1 week for my client but when two factor auth is enabled for a user they are logged out after an hour. Even if I'll set 'userSessionDuration' to 1 week the user are logged out after 1 hour. If I'll check the cookies of the client I'll see the exp

[2020-03-06 14:32] roelvanhintum commented on #42
@maartenheideman this sounds like an issue with sessions on your server. Even when rememberedUserSessionDuration is ignored, userSessionDuration should be used. Are you sure the same happens with the plugin disabled?

[2020-03-06 14:33] #36 closed

[2020-03-06 17:24] maartenheideman commented on #42
I'll checked the isVerified function and dumped $dateVerified and $minimalSessionDate. In the same order down here. The timezone looks different? Could this be the issue?

`
object(DateTime)#371 (3) {
  ["date"]=>
  string(26) "2020-03-06 18:21:59.000000"
  ["timezone_type"]=>
  int(3)
  ["timezone"]=>
  string(16) "Europe/Amsterdam"
}
object(DateTime)#362 (3) {
  ["date"]=>
  string(26) "2020-02-

[2020-03-11 20:03] maartenheideman commented on #42
I'll double checked. If a user is logged-in and completely close its browser and open the browser again their still logged-in. If the same user activates two factor authentication whit-in the front-end (create with your samples) and close its browser and open it again they are logged out. The same thing happen wit trying to login in the backend. It looks like the plugin kills the session? My plugi

[2020-03-13 21:41] maartenheideman commented on #42
Dived a little bit deeper in the issue today. The date difference mentioned before is not the issue even after setting this the server to UTC. The problem is in the validateRequest function and then specific in $verify->isEnabled($user). That function returns false but should return true. If I'll delete this from the if else checks I'll stay logged-in else trough that part I'll logged-out. But why

[2020-03-13 21:41] maartenheideman commented on #42
Dived a little bit deeper in the issue today. The date difference mentioned before is not the issue even after setting this the server to UTC. The problem is in the validateRequest function and then specific in $verify->isEnabled($user). That function returns false but should return true. If I'll delete this from the if else checks I'll stay logged-in else trough that part I'll logged-out. But why

[2020-03-24 11:31] roelvanhintum commented on #42
@maartenheideman sorry for the late response. I cannot replicate this problem. Maybe something with session/cookie settings? Session until browser closes, does sound like a cookie problem.

I'm testing this with php:7.3-apache using the production ini and with the Craft required packages installed.

I did notice a config problem with the whitelist and/or blacklist:
[code]

[2020-03-24 11:43] maartenheideman commented on #42
Thanx for your reply. When I'll comment the frontEndPathBlacklist like you do I'll get an error: `Return value of born05\twofactorauthentication\models\Settings::getFrontEndPathBlacklist() must be of the type array, null returned`.

The session closes only with two factor enabled. When two factor is disabled the session still excist.

this are my duration settings, can this has something to do wit

[2020-03-24 12:25] roelvanhintum commented on #42
Your duration settings worked fine for me. No problem. With cookie/session settings i meant php / apache (or other) config.

You could comment out the entire `frontEndPathBlacklist` setting (like it isn't there). That should work for that problem.

In case none of this comes close, what PHP, Craft and plugin versions are you using?

[2020-03-24 12:40] maartenheideman commented on #42
I'am using php 7.3.14 with apache (Apache/2.4.25 (Debian)) , mariaDB 10.1 with MySQL 5.5.5, craft 3.3.7, plugin 2.4.0

Removing the complete 'frontEndPathBlacklist' setting gives the same error.

[2020-03-24 13:16] roelvanhintum commented on #42
@maartenheideman i'm using the latest craft version, but this one should also work. Are you using something like cloudfront, or are you experiencing the session issue also in a local dev environment?

I'm looking at a project right now without the blacklist without any errors. My config:
config/two-factor-authentication.php
[code]

[2020-03-25 14:56] maartenheideman commented on #42
Even after updating to craft 3.4.10.1 and in a local environment the same issue. If two factor authentication is enabled and I'll closing the browser and open it again I'am logged-out. If two factor authentication is disabled and closing the browser and open it again I'am still logged in. It must have something to do with settings of the plugin.

`    '*' => [
        // Allow a totp delay in seco

[2020-03-30 12:33] #40 closed

[2020-03-30 12:35] roelvanhintum commented on #42
@maartenheideman can you provide me with a copy of your project? A repo or anything? I really can't reproduce this.

[2020-03-30 14:18] maartenheideman commented on #42
Thanx for your reply I’ll send you a private email.

[2020-04-20 08:45] tonyclemmey commented on #38
Hello, @roelvanhintum

First time user here, I am having a similar issue on Craft 2 / Plugin v1.20. When on verify code screen, I can hit the back button and the home page will load. Is there a code change in recent versions/craft 3 which could be backported to craft 2 to ensure no page can load until Verify code.

[2020-04-20 12:22] roelvanhintum commented on #38
@tonyclemmey the craft 2 plugin didn't have support for front-end login. For craft 3 the plugin is rewritten for the most part. You could add your own validation to a custom plugin similar to what we're doing here: https://github.com/born05/craft-twofactorauthentication/blob/craft-2/TwoFactorAuthenticationPlugin.php#L55

You can even use the services from the plugin, so customization would be mini

[2020-04-20 13:00] maartenheideman commented on #42
After updating to the newest version (3.4 +) of Craft CMS, this issue disappears and the plugin works as expected.

[2020-06-17 08:45] romainpoirier opened #43 "Array to string conversion error"
After upgrading from `2.2.0` to `2.6.1 `and changing `frontEndPathWhitelist` to `frontEndPathAllow` + `frontEndPathBlacklist` to `frontEndPathExclude` (following breaking change since `2.6.0`) I got this error on front-end:

[code]

Reverting to `frontEndPathBlacklist` + `frontEndPathBlacklist` fix this. I am wrong or I still was supposed to use allow/exclude in favor of whitelist/blacklist like I

[2020-06-17 09:08] roelvanhintum commented on #43
@romainpoirier the frontEndPathWhitelist and frontEndPathBlacklist are ignored, so that is why the error disappears.

The old config had some issues with environments within variables, maybe that is the issue here? This is now only in the following format (notice the * at the top instead of inside the variable):

[code]

[2020-06-17 09:49] romainpoirier commented on #43
I'm not using environments variables in my `two-factor-authentication.php`settings file (which got the error like explained):
[code]

So I understand I should finally write it like that as from `2.6.0` to get the same result:
[code]

This works without getting any error. Back-end should be always protected, whereas areas in front-end that required login and check if the user is an admin should ena

[2020-06-17 13:59] roelvanhintum commented on #43
That is correct. This should work. You can even omit everything that is same as default, similar to general.php

[2020-09-07 08:35] #43 closed, assigned to nobody

[2020-09-14 14:16] maartenheideman commented on #42
Thought the problem was fixed but found out that it wasn't. I'm try to understand why my client each time be logged out (frontend) after 2 hours with 2fa enabled. I thought maybe an issue in timezones? The server php & mySQL timezone configured to GMT+1 (Amsterdam). `;php_admin_value[date.timezone]` = Europe/Amsterdam. Craft is set to UTC + 2 (CEST) Europe/Amsterdam. Could that be the issue? PHP 7

[2020-09-15 10:36] roelvanhintum commented on #42
@maartenheideman do you still have session durations of a week? In the case there is a bug with timezones not matching up, it shouldn't affect users with a difference of more than an hour. The dates checked in php seem to be ok. Php allows for different timezones in comparrisments.

I did just push a fix to make the timezones match. Can you test if that fixes it? As a version in composer you can u

[2020-09-15 10:54] maartenheideman commented on #42
I'll checked the values of dateVerified and minimalSessionDate again and it looks like the timezone is matching now 👍 . Hope this solves the issue.

$dateVerified =>
[code]
$minimalSessionDate =>

[code]

[2020-09-15 11:43] roelvanhintum commented on #42
Just released 2.6.2 with the fix.

[2020-09-21 08:24] roelvanhintum commented on #42
@maartenheideman did this fix the issue or are you still experiencing the short session problem?

[2020-09-21 08:47] maartenheideman commented on #42
Thanx for your reply. Unfortunately it didn't. Client still logged out after closing browser or within 2 hours. If TFA is disabled the problem disappears. Look like something with sessions. Which function is called to verify the session when opening the website?

[2020-09-21 09:26] roelvanhintum commented on #42
The starting point is (line 33 is most important) https://github.com/born05/craft-twofactorauthentication/blob/a79c55beebba08f18a3f5ec7debf50b28f36b17e/src/services/Request.php#L17-L44

Maybe the retrieval of the session id fails? https://github.com/born05/craft-twofactorauthentication/blob/a79c55beebba08f18a3f5ec7debf50b28f36b17e/src/services/Verify.php#L232-L251

It connects to `craft_twofactora

[2020-09-21 09:50] maartenheideman commented on #42
I'll just checked. After closing the browser en opening it again the session nummer upcount from 2107 to 2108 for example. The function getSessionId has a token, so that won't be the issue I gues. There is a sessionId but in the function `isVerified` SessionRecord::findOne returns null after closing browser opening again. Look like session is not authorized. If I'll dump the user `$user = Craft::$

[2020-09-21 13:33] roelvanhintum commented on #42
When you dump that is `Craft::$app->user->tokenParam` returning any value?

[2020-09-22 07:52] maartenheideman commented on #42
I'll tried that and yes it returns a token. If I'll do following. I'm doing this:
I'm loggin in with TFA enabled. Then close my browser. Then open it again and then the the function returns a token.

[code]

[2020-09-22 08:12] roelvanhintum commented on #42
This looks like [userSessionDuration](https://craftcms.com/docs/3.x/config/config-settings.html#usersessionduration) is set to `0`, while you have it at 604800 right?

Can you provide me with some info about your php session settings (phpinfo > `session.save_handler`, `session.cookie_lifetime`, `session.cookie_secure`, etc. )? I would like to debug this, to see where it's coming from. Do you store

[2020-09-22 09:02] maartenheideman commented on #42
this are my session duration settings in the general.php
[code]

I'am not using reddis (not installed on the server), Varnish is installed but no specific rules are setup for that. And using general craft settings. The phpinfo you asked for:
[code]

[2020-09-22 14:01] roelvanhintum commented on #42
@maartenheideman, i really can't reproduce this problem. I think there is some issue in your hosting setup. I tried it with the same session settings and everything worked fine. I even tried it with userSessionDuration on 0 (just released a fix for that).

[2020-09-25 08:44] roelvanhintum commented on #42
@maartenheideman thanks for all your input! The change to session variables instead of a table turned out to be simple to write. It's in 2.7.0-beta.1

[2020-09-25 10:45] maartenheideman commented on #42
I'll tried your beta but unfortunately same problem. ```Craft::$app->getSession()->get(self::SESSION_AUTH_HANDLE)``` in ```isVerified``` returns NULL after closing browser and opening again? Running craft '3.4.10.1'. If I'll return true in the function isVerified it work as expected. Also when I'll dump the session ```var_dump(Craft::$app->getSession())``` I'll can't read the custom session info '

[2020-09-25 14:08] roelvanhintum commented on #42
Can you test this in 3.5.11.1? Is there a difference between how frontend and backend user session behave?
It works for me in firefox & chrome. Safari closes the session no matter what i do (maybe my local env?).

Explanation on the changes:
I don't try to match a session anymore. I just ask craft for the data from the current session. A new session suggests craft couldn't continue the old session

[2020-10-05 09:07] roelvanhintum commented on #42
@maartenheideman did this solve it for you?

[2020-10-05 11:46] maartenheideman commented on #42
I’ll hope I’ll have some time this week! I’ll let you know!

[2020-10-06 09:26] maartenheideman commented on #42
Just checked, setting ```session.cookie_lifetime``` to 3600 seconds keeps the user loggedin after closing browser and opening it again. What are the recommend (most safe) settings for the ```session.cookie_lifetime``` and ```session.gc_maxlifetime``` if the client wants to login once a week (from same location and device) with two factor authentication enabled.

[2020-10-06 09:57] roelvanhintum commented on #42
For one week i would say setting `session.cookie_lifetime` 604800 (60*60*24*7). ;)
`session.gc_maxlifetime` defines the time an unused session has, which restarts counting every time the session is used. This can probably be less than a week. Let's say 2 days, assuming they don't have to login for a week as long as there is less than 48 hours between using the session. This would end the session o

[2020-10-16 00:18] weotch opened #46 "Issue installing 2.7.0"
When installing 2.7.0 for the first time I'm getting this error:

[code]

[2020-10-16 00:32] weotch opened #47 "Issue using 2.6.3 for admin auth"
I installed 2.6.3 because I was having issues with 2.7.0 (see #46) onto Craft 3.5.13.  I am being shown the field to enter my code:

![image](https://user-images.githubusercontent.com/77567/96199334-16b64400-0f0c-11eb-8657-1bdd1260255e.png)

However, the server is returning a 400 response on every submit.  Looking into the web.log, I see errors like this:

[code]

I am using 1Password as my 2FA cl

[2020-10-16 06:44] roelvanhintum commented on #46
Sorry about that. I've fixed it in 2.7.2

[2020-10-16 07:08] roelvanhintum commented on #47
@weotch, thanks for the details! 1password works fine, this looks like a php thing. Sometimes the login expires and you have to login again before you can enter the 2fa code. When another control panel path (except login etc) is called before 2fa verification you are logged out again.

Did you encounter this more than once? Try refreshing the page (related to #11).

[2020-10-16 16:31] weotch commented on #46
Cool, that fixed it for me!

[2020-10-16 16:31] #46 closed, assigned to nobody

[2020-10-16 16:48] weotch commented on #47
I figured it out, it's a conflict with this plugin: https://github.com/marionnewlevant/craft-snitch.  Looks like it's already been reported here: https://github.com/marionnewlevant/craft-snitch/issues/19.

Thanks for the quick support and for making this package!

[2020-10-16 17:25] weotch commented on #47
Is there any way to increase the time before this login expires?

[2020-11-25 18:11] weotch commented on #11
It appears to me that this dialog appears after 2min.  I'm not sure what setting controls this, though.

[2020-11-26 08:35] #42 closed

[2020-11-26 08:47] roelvanhintum commented on #11
@weotch it is Craft getting session info, but the 2fa plugin logs out when a not allowed call is done before entering your 2fa code. I don't know if I can allow the session info call by default without causing any security vulnerabilities.
Path: `/index.php?p=admin/actions/users/session-info&dontExtendSession=1`

[2021-02-09 11:43] goraxan commented on #11
@roelvanhintum pointed me to the right direction. The problem is that `/index.php?p=admin/actions/users/session-info&dontExtendSession=1` is not in the whitelisted actions of this plugin, so after calling it for the first time you are silently [logged out](https://github.com/born05/craft-twofactorauthentication/blob/craft-3.1/src/services/Request.php#L35).
This is because this plugin [only support

[2021-02-11 09:06] roelvanhintum commented on #11
@goraxan thanks! I've just released this in 2.7.4

[2021-02-11 09:07] roelvanhintum commented on #47
@weotch i've just released a fix for regarding this in 2.7.4
Does this also work for you?

[2021-02-11 18:28] weotch commented on #47
Thanks @roelvanhintum! I've added verifying that fix to our backlog.

[2021-03-23 17:00] bencroker opened #51 "Should the secret be more "secretive"?"
Is the user secret being initially set to their email address intentional? would it not be more secure to use the user's UID or to generate a random string?

https://github.com/born05/craft-twofactorauthentication/blob/fbafbc7a7d3c6ffac98b610c7aafa392067c0fa7/src/services/Verify.php#L172

[2021-03-23 19:36] #51 closed, assigned to nobody

[2021-03-23 19:39] roelvanhintum commented on #51
Thanks @bencroker. Fixed in 2.8.1
This was correct usage with old TOTP library, definitely wrong in the current one.

[2021-03-24 07:40] bencroker commented on #51
Thanks!

[2021-03-31 20:11] petehjfd opened #52 "I never see the 2-factor verification page"
Hi

I'm not sure if I'm missing something, but no matter what I do, I never see the 2-factor verification page.  I just get logged in straight to the dashboard.

- I have setup the config file as per the example.
- `verifyBackEnd` is `true`
- I have completed the setup process with Google Authenticator on the settings page.
- I see the green "Your account is secured" text on the settings page.

If

[2021-04-01 08:14] petehjfd commented on #52
I've now also tried disabling dev mode, which didn't make any difference.

[2021-04-01 08:27] roelvanhintum commented on #52
@petehjfd thanks! The verification is stored in the session. It looks like session is kept alive even after logout. I'll release a fix asap (today).

[2021-04-01 08:48] petehjfd commented on #52
Thanks @roelvanhintum, that would be great!

[2021-04-01 09:58] roelvanhintum commented on #52
@petehjfd before releasing, does the latest commit fix this for you? In composer this would be `dev-craft-3.1` i think.
I now store the login timestamp and compare this to the lastest login timestamp.

[2021-04-01 10:06] petehjfd commented on #52
Yes, that seems to have done the trick!

[2021-04-01 11:06] roelvanhintum commented on #52
Glad to hear! Thanks for testing! Released in 2.9.0

[2021-04-01 11:06] #52 closed, assigned to nobody

[2021-05-07 01:25] amygtownsend opened #54 "Can access CP without 2FA with ForceBackEnd set to true"
### Description of issue

With `ForceBackEnd` set to `true` in the config (and `VerifyBackEnd` set to `true` as well), I would expect the following:

_After logging in, I see the page for setting up 2FA. If I skip the 2FA set up and then access the CP by URL, I am logged out and redirected to the CP log in page._

However, what happens instead is:

_After logging in, I see the page for setting up

[2021-05-07 12:29] roelvanhintum commented on #54
@amygtownsend thanks for the issue and clear description! I performed the same steps, but could not reproduce this behavior. Do you have some info on maybe other plugins or custom modules?

[2021-05-07 12:35] roelvanhintum commented on #54
Note: I tested this on craft 3.6.12.1 and 3.6.13

[2021-05-07 15:29] amygtownsend commented on #54
@roelvanhintum Thank you for checking this out! After disabling all of our custom modules, I'm no longer seeing the issue. This can be closed out!

[2021-05-12 08:51] #54 closed, assigned to nobody

[2021-05-12 08:51] #47 closed, assigned to nobody

[2021-08-23 12:17] xhuang9 opened #55 "None admin user given permission to `editUsers` seeing 500 error when add two-factor authentication as a column"
None admin user given permission to manage other craft user seeing 500 error when adding two-factor Authentication as a column in EVENT_SET_TABLE_ATTRIBUTE_HTML

Error:
[error][Twig\Error\RuntimeError] yii\base\UnknownPropertyException: Getting unknown property: craft\elements\User::hasTwoFactorAuthentication in
/vendor/yiisoft/yii2/base/Component.php:155

Fix description:
If a user given access t

[2022-05-10 13:26] jordikroon opened #56 "Craft 4 support"
Hi there!

Will this plugin receive an update for Craft 4? Built-in Craft 4 support for 2FA has been postponed until at least Craft 4.1, so this plugin is still relevant for us.

[2022-05-10 13:27] jordikroon commented on #56
Should have checked the branch list first. 😓

So the question changes a little. When do you expect to release the first beta version?

[2022-05-10 14:19] manuelthaler opened #57 "Feature Request: Enable/Disable 2FA for certain user groups"
At the moment the enabling/disabling feature in the user editor is only visible for admins. do you see any chance to implement a feature to allow certain groups (these who are taking care of the community) to disable/enable the 2fa in the backend?

Either as a setting in the `two-factor-authentication.php`setting by adding the group id, or by using the regular permissions setting of craft?

[2022-05-10 14:49] roelvanhintum commented on #56
@jordikroon, yesterday ;)
I haven't ran it on any production sites yet, so that is why it's beta. Once it's confirmed to work fine on Craft 4, i'll release it as stable.

https://github.com/born05/craft-twofactorauthentication/releases/tag/3.0.0-beta.1

[2022-05-11 08:10] roelvanhintum commented on #57
@manuelthaler, seems like a good feature. I would do this with a permission setting.

[2022-05-31 20:16] billymedia opened #58 "Rename 2fa in Google auth"
How do you set the label name in the google authenticator app?
When i scan the qr code, it sets the code number label to "Craft CMS (email@email.com)"
Can i change this to the company name?

[2022-06-01 08:58] roelvanhintum commented on #58
@billymedia, this should be done using the general Craft CMS settings. Which versions are you using?

[2022-06-01 08:59] roelvanhintum commented on #58
Correction: the email should be the user’s email.

[2022-06-01 09:01] billymedia commented on #58
Craft 4.0.3
Plugin 3.0.0-beta.1

I have craft named under Settings > General as the clients name, but it labelled it as Craft CMS in google auth app, is there another settings somewhere i need to change?

[2022-06-01 12:51] billymedia opened #59 "User check for 2fa"
I might be missing something obvious here, but if a user decides to remove 2fa, how do i know if the user has done this? I currently send the user to a 2fa code form, but if the user has decided to disable 2fa, how do i detect this and allow them to bypass the 2fa form?

[2022-06-01 12:56] billymedia commented on #59
Ah...

{% if not craft.twoFactorAuthentication.isTwoFactorEnabled() %}

{% endif %}

[2022-06-01 12:56] #59 closed, assigned to nobody

[2022-06-14 00:26] springboynick opened #60 "Rename 2FA in Microsoft Authenticator"
Good Evening,  Im having a similar issue to the user with Google Authenticator.  I have renamed my site, however it shows as CraftCMS and email address in the authenticator and not the company/website system name?

Any help would be appreciated.

Kind regards

Nick

[2022-06-16 09:38] billymedia commented on #58
@roelvanhintum similar issue here https://github.com/born05/craft-twofactorauthentication/issues/60

The reason is that in services/Verify.php on line 155, the issuer is being set to ```Craft::$app->name``` whereas it should be set to ```Craft::$app->sites->currentSite->name```

[2022-06-27 15:47] jordikroon opened #62 "Error "Element query executed before Craft is fully initialized""
Hi there,

Within Craft 4, this plugin seems to trigger a warning `Element query executed before Craft is fully initialized`. I have converted this warning to an exception to see the cause of the error. This is the stack trace that is being thrown.

[code]

A potential solution would be to wrap the code in an `init` event. This ensures that the code is executed right after Craft is initialised (th

[2022-06-28 08:32] #56 closed, assigned to nobody

[2022-06-28 08:56] roelvanhintum commented on #60
Duplicate of #58

[2022-06-28 08:56] #60 closed, assigned to nobody

[2022-06-28 10:27] roelvanhintum commented on #58
@billymedia user accounts and 2fa are system wide, not limited to one site. The line should be `Craft::$app->getSystemName()`

[2022-06-28 10:34] roelvanhintum commented on #58
Fixed in 3.0.0

[2022-06-28 10:34] #58 closed, assigned to nobody

[2022-06-28 10:34] roelvanhintum commented on #62
Fixed in 3.0.0

[2022-06-28 10:34] #62 closed, assigned to nobody

[2022-07-29 16:48] jacksutherland opened #63 "Unforgiving Timeout"
The plugin is logging active users out roughly every 10 minutes, without warning or saving progress. I would think if the user was active it wouldn't timeout. However, currently the plugin will kill the session while the user is editing an entry. There's no way of knowing this until the page refreshes, so our editors are continuing to make edits, but since the session is dead autosave is no longer

[2022-08-01 06:14] roelvanhintum commented on #63
HI @jacksutherland, which version of craft, this plugin and maybe other plugins are you using?
Current versions of this plugin sets values on the current session, which means craft itself should be in charge of session duration.

[2022-08-02 17:35] jacksutherland commented on #63
Hi @roelvanhintum, we keep the site updated to the latest. It's currently at 3.7.47.1, but was doing this before this update as well. There are quite a few other plugins installed:
Admin Bar, Control Panel CSS, FreeForm, Knock Knock, Mix, Redactor, Retour, SEOMatic, Servd Assets and Helpers, Sherlock, Super Table, and Typed Link Field.

Disabling the 2FA plugin corrects the problem and session is

[2022-08-04 07:56] roelvanhintum commented on #63
Is the 2FA plugin at version 2.10.0? Do you have any session related settings in your general.php? You could check what the $sessionDuration on `controllers/VerifyController.php:L43` returns.

[2022-08-04 19:06] jacksutherland commented on #63
No. It's pretty minimal. We use Servd, which handles some configuration across environments. Could that be a factor?

Also, if it were just a shortened session duration, it wouldn't be too bad. The bigger problem is that it's ending abruptly while they're making changes, without any notification to the user. So they're continuing to make edits, and it's all lost as soon as they click save... Then

[2022-08-06 00:47] jacksutherland commented on #63
@roelvanhintum we upgraded to Craft 4 and it still happens. I set userSessionDuration = 0, which should make it not timeout at all, but it still does after about 10 minutes. And only when 2FA is installed and enabled. I also found this log entry when it last occurred....

[06/Aug/2022:00:26:47 +0000] "GET /index.php/control/actions/users/session-info?dontExtendSession=1 HTTP/1.1" 200 464 0.078 "ht

[2022-08-08 07:25] roelvanhintum commented on #63
Those are both craft's own calls, which looks normal. I'm guessing you're using 2FA 3.0.1?

I think we need to debug this. Can you check what `$sessionDuration` returns in your case?
https://github.com/born05/craft-twofactorauthentication/blob/3.0.1/src/controllers/VerifyController.php#L42

And just to be sure, can you dump `$event->cookieBased` and `$event->duration`?
https://github.com/born05/cr

[2022-08-08 21:35] jacksutherland commented on #63
We were finally able to resolve this with the help of the team at Servd. They ultimately wound creating a new PHP session handler. They wrote a blog article about it if you're interested... https://servd.host/blog/craft-yii-and-redis-session-absentee

As it turns out, the 2FA plugin was NOT the cause the problem. But it was contributing to data loss when the timeout occurred. When Craft times out

[2022-08-09 07:57] Coennie opened #64 "Unable to verify your data (no crsf token posted)"
When trying to use the 2fa for the backend I get a 'could not verify your data' after submitting the 2fa code. When looking in the post data I also do not see the csrf token being posted along with the 'authenticationCode' parameter. Did something change? It worked before.

Regards

[2022-08-09 15:06] roelvanhintum commented on #63
Thanks for all the info!! I'm happy Servd was able to find what was going on.
Regarding the login popup: Previously it wasn't possible to hook into the login popup flow (AuthManager.js). I don't think this has changed yet, but i'm still hoping this will become an option. see: #11

[2022-08-09 15:06] #63 closed, assigned to nobody

[2022-08-09 15:09] roelvanhintum commented on #64
Nothing has changed regarding this. Which versions of craft and this plugin are you using? I've had this error myself in the past when i messed up page caching or session storage.

[2022-08-16 10:46] Coennie commented on #64
So strange I can't find the issue.
Working with:
Craft Craft CMS 4.2.1.1 (Pro)
craft-twofactorauthentication: 3.0.1

The two factor does work with a custom frontend implementation, but not with the default backend part

[2022-08-16 11:09] roelvanhintum commented on #64
@Coennie this can be caused by multiple Craft config settings and hosting configurations. I'm afraid you really have to debug this on your own environment.

[2022-09-06 10:52] adampatpattison opened #65 "Impersonating Users"
We've recently implemented this plugin and set `forceBackEnd` to `true`.

Admin's or other users with the "Impersonate Users" permission are now asked to either setup 2FA or enter the user they're impersonating's verification code.

Is there a way to subvert this when using the CraftCMS impersonate user option?

[2022-09-14 09:34] Marcuzz commented on #64
I am also experiencing the same problem. It seems like it's posting an invalid or already expired CSRF token to the back-end every single time.

I'm using the latest official Craft CMS nginx docker image (craftcms/nginx:8.1-dev) locally, so it seems to be a common issue?

[2022-09-19 13:05] tjanpool commented on #64
I probably also encountered this problem. This statement seems correct:
'this can be caused by multiple Craft config settings and hosting configurations.'

This issue was in my case caused by following the instructions and creating the
config/two-factor-authentication.php with:
<pre>
return [
    '*' => [
        'verifyBackEnd' => true,
        'forceBackEnd' => true,
    ],
];
</pre>
<strike>
I

[2022-09-19 13:15] Marcuzz commented on #64
That error is not present in my error log at least. I tried your fix as well and it doesn't appear to make any difference unfortunately.

I keep getting a 400 bad request: "Unable to verify your data submission".

![image](https://user-images.githubusercontent.com/3168421/191025451-c39542ca-1422-4d84-b574-f7526716eca6.png)

This despite the X-CSRF-Token header being sent in the request headers:

!

[2022-09-19 13:20] tjanpool commented on #64
Apparently my solution also doesn't work. The fact that I don't have a two-factor-authentication.php makes it possible to submit a form. So my solution also doesn't help to enforce 2 factor authentication.

[2022-09-19 13:23] roelvanhintum commented on #64
I've been working to get this fixed. I suspect the way forms templates work in Craft 4 has changed. Can someone test `dev-craft-4` to verify if the latest version does work?

edit: After some more testing i got the problem replicated on my own environment, which allowed me to work towards a fix.

[2022-09-19 13:39] tjanpool commented on #64
Cool, I did update to the <code>dev-craft-4</code>, And it seems to have done something, for now I receive the error feedback: 'Unable to verify your data submission.' However indeed, it was not resolved. However glad you have some materials to work towards a solution.

[2022-09-19 13:46] roelvanhintum commented on #64
@tjanpool Did the post data and post headers contain the csrf token or just one of them?

[2022-09-19 14:02] tjanpool commented on #64
I find it hard to say.
The response seems to have change to the following:

name: "Forbidden", message: "Login Required", code: 0, error: "Login Required", status: 403,…}
code:
0
error:
"Login Required"
exception:
"yii\\web\\ForbiddenHttpException"
file:
"/var/www/html/vendor/yiisoft/yii2/web/User.php"
line: 460
message:
"Login Required"
name:
"Forbidden"
status
:
403
trace
:
[{file: "/var/www/htm

[2022-09-29 13:46] Coysh opened #66 "userSessionDuration not being kept with 2FA"
We have `userSessionDuration` set to 7 days for a few reasons.
With 2FA installed, it seems like this has changed to 1 hour (best guess).

Any ideas? Is this intentional?

[2022-09-29 13:48] roelvanhintum commented on #66
This is definitely not intentional, but sounds similar to other issues. see: #63
Are you using redis for session storage?

[2022-09-29 14:17] Coysh commented on #66
@roelvanhintum - yep, using redis. #63 looks like a similar problem, but do think it's longer than 10 minutes

[2022-10-21 09:49] Coysh commented on #66
Hi @roelvanhintum - still having this issue. It may be more like 10 minutes. Any ideas?

[2022-10-21 12:50] roelvanhintum commented on #66
@Coysh is it similar to whatever your `session.gc_maxlifetime` is set to? The Servd blog post https://servd.host/blog/craft-yii-and-redis-session-absentee says it's about 10-30 minutes. Since the 2FA plugin doesn't do anything with the session, besides storing some data, it must be hosting related.

[2022-10-31 03:44] oxochenxa opened #67 "[BUG] can be bypassed by simply reclicking the admin link in plugin Two-Factor Authentication"
Hi Born05,
I would like to report a bug that i've notice while using plugin Two-Factor Authentication version 2.10.0.
I used Craft CMS Pro 3.7.55.3, PHP 7.4.
After login, website show the verify 2FA form. But i can be bypassed by simply reclicking the admin link.

I hope you can fix this bug and release it or send me your solutions.
Have a good day.

[2022-10-31 06:42] Coultsy commented on #67
Yes we have also noticed that you can just click on the 'back' button on your browser when on the 2fa screen and it will take you to your craft dashboard without enforcing the 2fa. Kind of an urgent fix this..

[2022-10-31 10:15] roelvanhintum commented on #67
@oxochenxa i can't reproduce this bug. Do you have a custom `two-factor-authentication.php` config file? What kind of session store do you use? What are the session durations?

@Coultsy after clicking back, can you refresh the page successfully? Just to make sure you're not looking at some browser cached state.

[2022-10-31 10:43] oxochenxa commented on #67
Hi @roelvanhintum i don’t custom config file.
I think session store i use cookie and session durations is 1 hour.

[2022-10-31 11:06] roelvanhintum commented on #67
@oxochenxa  Usually problems like these have something to do with the session config. Can you check Craft's `userSessionDuration`, which should be more than 0. And php's `session.gc_maxlifetime`?
Just to be sure, do you use a non-default session component (like redis)? See: https://craftcms.com/docs/3.x/config/#session-component

And which other plugins are you using?

[2022-10-31 13:24] ddnetters commented on #64
Still occurring on `dev-craft-4` and `^3.0`, running craft 4.2.7. Valid CSRF token is set a as request header but not in the form request.

Temporary debugging work around mentioned below will resolve it. Doing so will break the plugin as it runs into the `->requireLogin()` validation failing.
[code]

@roelvanhintum what were your findings so far?

[2022-11-01 03:20] oxochenxa commented on #67
Hi @roelvanhintum, I check config: userSessionDuration = 3600, session.gc_maxlifetime = 1440. When i uninstall all plugin except 2FA plugin, that error still occurs. I checked the config no problem. Any orther case?
Where is save session before input code 2FA. I think session save to system before input code 2FA

[2022-11-07 08:57] roelvanhintum commented on #64
@ddnetters , i cannot reproduce this at al. I did have issues before with csrf tokens being handled differently between admin and guest users on the frontend. Does this also occur when you try logging in from an incognito browser window?

[2022-11-07 09:00] roelvanhintum commented on #67
I can't reproduce this. As soon as i try to load any other page, i'm logged out.

[2022-11-07 09:01] ddnetters opened #68 "Verify login valdation prevents 2FA code from validating"
The authentication flow in the control panel doesn't work. It's caused by the 2FA code verification request being blocked by login validation.

**Environment**

- PHP 8.0
- Craft 4.3.1
- Two-Factor Authentication 3.0.1
- No custom configuration

**Steps to reproduce**

1. Setup a craft 4 environment with one user
2. Disable CSRF validation in the general config `->enableCsrfProtection(false)`, to

[2022-11-07 09:02] roelvanhintum commented on #65
Sorry for the late response, but it i think it comes with to much vulnerabilities to change this behavior.

[2022-11-07 09:02] #65 closed, assigned to nobody

[2022-11-07 09:05] ddnetters commented on #64
It does, both across browsers and in a private window. I'll try to get a steps-to-reproduce list when I have more time. Meanwhile the aforementioned validation issue can be continued at #68. In as far as it's useful, I'm experiencing the issue with the control panel login flow.

[2022-11-07 09:09] roelvanhintum commented on #68
@ddnetters what do you mean by "Require login validation" on step 6?

[2022-11-07 09:13] ddnetters commented on #68
After login you get redirect to `/index.php?p=admin/actions/two-factor-authentication/verify/login`, which shows the 2FA code verification form. When I submit that form without CSRF protection, I get the following response:
[code]

So when the page gets returned, the user session gets forcefully ended. I suspect by [Craft::$app->getUser()->logout(false);](https://github.com/born05/craft-twofactora

[2022-11-07 09:27] roelvanhintum commented on #68
That logout line is to prevent users from visiting other pages before being verified, since the plugin can't really hook into the auth system. The user itself is logged in by craft at the login screen regardless of 2fa. The plugin can only logout users when 2fa isn't entered yet.

Your issue seems to be getting logged out within seconds, probably before posting the form. What happens when you refr

[2022-11-07 09:44] ddnetters commented on #68
The session length is set to a year and removing [Craft::$app->getUser()->logout(false);](https://github.com/born05/craft-twofactorauthentication/blob/craft-4/src/services/Request.php#L34) resolves the bug. Are there any other mechanism within craft or the plugin that affect the authentication state?

[2022-11-07 10:14] roelvanhintum commented on #68
Not that i know of. Removing the logout function from the plugin also makes the plugin useless, because 2fa isn't enforced anymore after that change.

[2022-11-07 10:26] ddnetters commented on #68
Yes, that makes sense. I'm not trying to suggest removing the function call is a solution to the bug. I'm trying to work to a solution together for which we need to find a cause. No other sign-out mechanism is present, as far as we know. Removing that function call resolves the bug. It then seems reasonable to check whether the bug is being caused by the context wherein it's being called.

I haven

[2022-11-07 22:45] Coultsy commented on #67
Just a recap on our experience. This problem is on 1 particular implementation. Other recent installs of this plugin on other sites have not experienced this issue. Config is the same across all these sites but something on this 1 site is causing this problem. So I don't think it is a fundamental issue with the plugin - just some sort of incompatibility with another plugin (maybe). Once we figure

[2022-11-08 08:43] oxochenxa commented on #67
Hi @roelvanhintum @Coultsy , when i create new craft cms website, i realized current site when login create PHPSESSID on cookies and new site when login create CraftSessionId. If you have any solutions. Please talk to me. Thanks for support.

[2022-11-08 09:12] oxochenxa commented on #67
Hi @roelvanhintum @Coultsy, the reason is probably because we are not use CP_TRIGGER load the control panel. I use BASE_CP_URL load the control panel because i use different domain load control panel. If you can reproduce this, please talk to me. Thanks!

[2022-11-08 10:25] oxochenxa commented on #67
when i check file vendor/born05/craft-twofactorauthentication/src/services/Request.php. $user in line 24 null. Can't get Identity. Do you know reason.

[2022-11-09 02:42] oxochenxa commented on #67
Hi @roelvanhintum @Coultsy , I found the bug in vendor/born05/craft-twofactorauthentication/src/services/Request.php line 24, $user = NULL because Plugin run function validateRequest with EVENT_AFTER_LOAD_PLUGINS. When run event EVENT_AFTER_LOAD_PLUGINS, user can't found identity.
I fix it bug by replace in vendor/born05/craft-twofactorauthentication/src/Plugin.php:
 Event::on(Plugins::class, Plug

[2022-11-11 19:08] roelvanhintum commented on #67
You're right, it should be `Application::EVENT_INIT`.

[2022-11-11 19:18] roelvanhintum commented on #67
@oxochenxa this is released in 2.10.1

[2022-11-11 19:18] #67 closed, assigned to nobody

[2022-11-18 08:16] oxochenxa commented on #67
Hi @roelvanhintum @Coultsy
When update plugin, i usually logged out after 5s login admin. Can you help me check it?

[2022-11-18 08:18] oxochenxa opened #69 "Logged out after 5s login page admin"
When update plugin, i usually logged out after 5s login admin. Can you help me check it?

_Originally posted by @oxochenxa in https://github.com/born05/craft-twofactorauthentication/issues/67#issuecomment-1319680794_

[2022-11-22 12:30] Romanavr commented on #69
Same issue
Clearing local storage usually helps.

[2022-11-22 12:41] Romanavr opened #70 "Unable to login, redirects back to login"
From time to time I can’t log in, right after logging in I am redirected back again to the login page
Cleaning up local storage, incognito mode and changing the browser work as temporary solutions

[2022-11-22 12:41] roelvanhintum commented on #69
@oxochenxa do you have the same problem when using an incognito window? I've had in the past some issues with existing/old sessions.